/* Soluzione qui */
/*Tablet screen*/
@media screen and (min-width: 768px) {

    #topbar {
        display: flex;
        justify-content: flex-start;
    
}


body{
    padding: 40px;
}

.recipe-origin {
	display: inline;

}

.recipe-name{
    font-size: 30px;
}


ul{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.quick-notes li {
	margin: 0px;
}

.social-networks button {
	width: 25%;
}


.ads{
    display: block;
}

.presentation img{
    float: left;
    margin-right: 10px;
}

}






/*Desktop screen*/

@media screen and (min-width: 992px){

    .recipe-name{
        font-size: 40px;
    }



ul{

    display: flex;
    flex-direction: column;
    gap: 10px;

}

.recipe-video,
.recipe-card{
    display: flex;
    justify-content: center;
}

.recipe-video{
    flex-basis: 60%;
    height: 35vw;
}

.recipe-card{
    flex-basis: 40%;

}


.social-networks .label {
	display: inline;
}

footer{
    display: flex;
    justify-content: space-between;
}

footer ul{
    flex-direction: row;
    flex-basis: 60%;
    gap: 5px;
}

address{

    flex-basis: 40%;
    
}



}
    
